.banners {
    width: 100%;
}

#banner-aromatherapy {
    margin: 2em 0;
}

.mobile {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    & img {
        width: 100%;
        object-fit: contain;
    }
}

.desktop {
    display: none;
}

.slider-wrapper {
    width: 100%;
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow-x: hidden;
}

.slider {
    margin-top: 5rem;
    display: flex;
    margin-bottom: 1rem;

    box-shadow: var(--box-shadow);

    animation: slide 16s infinite;
}

.slider img {
    flex: 1 0 100%;
    width: 100%;
    object-fit: contain;
}

.slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.carousel-nav {
    display: flex;
    gap: 1rem;
}

.carousel-button {
    background: none;
    border: 1.5px solid var(--red-color);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline;
    cursor: pointer;

    &:focus-visible {
       border: 1px solid var(--yellow-color);
       padding: .5rem;
    }
}

.carousel-button.active {
    background-color: var(--red-color);
}

/* 
input[type="radio"] {
    opacity: 0;
}

.slider-controls label {
    margin-right: .75rem;
    border: 1.5px solid var(--red-color);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-flex;
    cursor: pointer;

    &:focus-visible {
       border: 1px solid var(--yellow-color);
       padding: .5rem;
    }
}

#slide-3:checked ~ .slider-controls > label:nth-child(3),
#slide-2:checked ~ .slider-controls > label:nth-child(2),
#slide-1:checked ~ .slider-controls > label:nth-child(1){
    background-color: var(--red-color);
} */


@media (width > 49em) {
    .banner-container {
        margin: 6em 0 3em;

        & img {
            width: 100%;
        }
    }

    .banner-desktop-container {
        width: 100%;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .slider-wrapper {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    .banner-mobile {
        animation: none;
        background-image: url(../assets/banners/banner-decoracao-mobile_1.png);
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(0);
    }

    35% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(-100%);
    }

    65% {
        transform: translateX(-200%);
    }

    90% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes changeImg {
    0% {
        background-image: url(../assets/banners/banner-decoracao-mobile_1.png);
    }

    33% {
        background-image: url(../assets/banners/banner-decoracao-mobile_2.png);
    }

    66% {
        background-image: url(../assets/banners/banner-decoracao-mobile_3.png);
    }

    100% {
        background-image: url(../assets/banners/banner-decoracao-mobile_1.png);
    }
}