.banners {
    width: 100%;
}

#banner-aromatherapy {
    margin: 2em 0;
}

.mobile {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    & img {
        width: 100%;
        object-fit: contain;
    }
}

.desktop {
    display: none;
}



.carousel-nav {
    display: flex;
    gap: 1rem;
}

.carousel-button {
    background: none;
    border: 1.5px solid var(--red-color);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline;
    cursor: pointer;

    &:focus-visible {
       border: 1px solid var(--yellow-color);
       padding: .5rem;
    }
}

.carousel-button.active {
    background-color: var(--red-color);
}

/* 
input[type="radio"] {
    opacity: 0;
}

.slider-controls label {
    margin-right: .75rem;
    border: 1.5px solid var(--red-color);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-flex;
    cursor: pointer;

    &:focus-visible {
       border: 1px solid var(--yellow-color);
       padding: .5rem;
    }
}

#slide-3:checked ~ .slider-controls > label:nth-child(3),
#slide-2:checked ~ .slider-controls > label:nth-child(2),
#slide-1:checked ~ .slider-controls > label:nth-child(1){
    background-color: var(--red-color);
} */


@media (width > 49em) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .slider-wrapper {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    .banner-mobile {
        animation: none;
        background-image: url(../assets/banners/banner-decoracao-mobile_1.png);
    }
}


