.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: var(--section-margin) 0;
}

.links-wrapper {
    display: flex;
    align-items: center;
    gap: var(--gap);
}