* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --ff: 'Larken', sans-serif;
    --text-sm: 100 .85rem/1.25 var(--ff);
    --text-regular: 100 1rem/1.25 var(--ff);
    --text-md: 100 1.25rem/1.25 var(--ff);
    --text-md-darker: 300 1.25rem/1.25 var(--ff);
    --text-ital: italic 1.25rem/1.25 var(--ff);
    --text-ital-mob: italic 1rem/1.25 var(--ff);
    --text-h2: 500 1.5rem/1.25 var(--ff);
    --text-h2-thin: 200 1.5rem/1.25 var(--ff); 
    --text-h3: 100 1.4rem/1.25 var(--ff);
    --text-xl: 400 3.5rem/1.5 var(--ff);
    --text-xl-thin: 200 3.5rem/1.5 var(--ff);
    --text-xl-mob: 400 2.25rem/1.25 var(--ff);
    --text-xl-mob-thin: 200 2.25rem/1.25 var(--ff);
    
    --text-primary: #000;
    --text-transparent: #0000004e;
    --bg-primary: #fff;
    --bg-secondary: #fff1e5;
    --bg-terciary: #f8d8c8;
    --red-color: #540018;
    --yellow-color: #faaf40; 
    --link-hover: #F4C430;

    --box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);

    --bar-width: 1.75rem;
    --bar-height: .15rem;
    --hamburger-gap: .3rem;
    --hamburger-margin: 5px;
    --animation-timing: .4s ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

    --section-margin: 3rem;
    --gap: 1rem;
}

html {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    font: var(--text-md);
}

ul {
    list-style: none;
}

h1 {
    font: var(--text-xl-mob);
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font: var(--text-h2);
}

h3 {
    font: var(--text-h3);
}

p:not(.subtitle) {
    font: var(--text-md);
}

span:not(.subtitle) {
    font: var(--text-md);
}

a {
    display: flex;
    align-items: center;
}

.title {
    text-align: center;
}

.subtitle {
    font: var(--text-ital-mob);
    text-align: center;
}

.red {
    color: var(--red-color);
}

.yellow {
    color: var(--yellow-color);
}

.black {
    color: var(--text-primary);
}

.lowercase {
    text-transform: lowercase;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.hidden {
    display: none;
}

@media (width > 52em) {
    h1 {
        font: var(--text-xl);
    }

    .subtitle {
        font: var(--text-ital);
    }
}