#highlights-1 {
    & p {
        margin-top: 1rem;
    }
}

.box-container {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    height: fit-content;
    

    & .img-container {
        width: 100%;
        background-color: var(--red-color);
        padding: 1.5rem;
        
        
        & .img-border {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            width: 100%;
            height: min(100%, 20.75rem);
            border: 2px solid var(--bg-secondary);
        }

        & .slide-list {
            display: flex;
            justify-content: center;
        }

        & li img {
            width: 100%;
        }

    }

    & .text-wrapper {
        background-color: var(--red-color);
        border-bottom: 1px solid var(--bg-primary);

        & .text-border {
            border-color: var(--bg-secondary);
        }

        & p, h2, span {
            color: var(--bg-secondary);
        }
    }

}

.highlights-1-decoration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#decoration-up {
    width: 20em;
    z-index: -1;
    position: relative;
    top: 1.5rem;
}

#decoration-down1 {
    position: relative;
    bottom: 2rem;
    width: 20em;
    display: none;
    z-index: -1;
}

#decoration-down2 {
    position: relative;
    bottom: 1.5rem;
    width: 20em;
    display: block;
    z-index: -1;
}

@media (width > 52em) {
    .box-container {
        grid-template-columns: 1fr 1fr;

        & .img-container {
            padding: 2rem;
        }

        & .text-wrapper {
            border-bottom: none;
        }

        & .slide-list {
            width: 100%;
            height: 100%;
        }

    }


    #decoration-down1 {
        display: block;
    }

    #decoration-down2 {
        display: none;
    }
}

@media (width > 68em) {
    .box-container {
        grid-template-columns: 3fr 2fr;

        & .img-container {
            padding: 2rem;
        }
    }

    #decoration-up {
        width: 25em;
    }

    #decoration-down1 {
        width: 25em;
    }
}