#highlights-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 8em auto;
}

.box-container {
    width: 100%;
    background-color: var(--red-color);

    & .img-container {
        all: unset;
        width: fit-content;
        position: relative;
        flex-basis: 100%;
        /* border: 1px solid red; */
        
        & li img {
            /* border: 2px solid var(--bg-secondary); */
            width: 100%;
        }
    }
    
    & .content-container {
        padding: 1em;
        width: 100%;
        color: var(--bg-secondary);
        
        
        & .container-border {
            --desktop-gap: 3rem;
            --mobile-gap: 1.5rem;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: var(--mobile-gap);
            /* padding: 1.5rem; */
            border: 2px solid var(--bg-primary);
        }

        & .text-border {
            width: 100%;
            flex-basis: 100%;
            padding: 1.5rem;
        }

        & h2, span, p {
            text-align: start;
        }

        & h2 {
            margin-bottom: 0;
        }

        & p {
            margin-top: 1rem;
            font: var(--text-md-darker);
        }
    }
}

#decoration-up1 {
    width: 18em;
    z-index: -1;
    position: absolute;
    top: -5rem;
    align-self: center;
}

#decoration-down1 {
    width: 18em;
    bottom: -5rem;
    position: absolute;
    z-index: -1;
}

#decoration-up2 {
    display: none;
}

#decoration-down2 {
    display: none;
}

@media (width > 49em) {
    #highlights-1 {
        padding: 0 1.5rem;
        margin: 10em 0;
    }

    .box-container {

        & .img-container {
            flex-basis: 50%;
            /* padding: 1.5rem; */
            /* padding-left: 0; */
        }
        
        & .content-container {

            & .text-border {
                flex-basis: calc(50% - var(--mobile-gap));
                padding: 1.5rem;
            }
        }
    }

    #decoration-up1 {
        display: none;
    }

    #decoration-up2 {
        display: block;
        width: 18em;
        z-index: -1;
        position: absolute;
        top: -5rem;
        align-self: center;
    }

    #decoration-down1 {
        display: none;
    }

    #decoration-down2 {
        display: block;
        position: absolute;
        width: 18em;
        z-index: -1;
        bottom: -5rem;
    }
}

@media (width > 72em) {
     #highlights-1 {
        padding: 0 3rem;
    }

    .box-container {
        & .img-container {
            flex-basis: 40%;
            /* padding: 0; */
        }

        & .content-container {
            padding: 3em;

            & .text-border {
                flex-basis: calc(60% - var(--mobile-gap));
                padding: 2rem 3.5rem;

                & h2 {
                    font: var(--text-h2-desk);
                }

                & p {
                    font: var(--text-lg);
                }
            }
        }
    }

    #decoration-up2 {
        width: 25em;
        top: -7.1875rem;
    }

    #decoration-down2 {
        width: 25em;
        bottom: -7.1875rem;
    }
}