.grid-container {
    background-color: var(--bg-secondary);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-bottom: 1.5px solid var(--bg-primary);

     & img { 
        width: 350px;
        height: 293px;
        
    }
}

.text-container {
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;

    & h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
    
    & p {
        font: var(--text-md-darker);
    }
}

.text-border {
    border: 2px solid var(--bg-primary);
    padding: 2em;
}

.highlights-decoration-top {
    padding: 1.7rem;
    background-image: url(../assets/page-decoration/destaques-up.png);
    background-repeat: no-repeat;
    background-size: 15.625rem;

    background-position: top center;
}

.highlights-decoration-bottom {
    background-image: url(../assets/page-decoration/destaques-down.png);
    background-repeat: no-repeat;
    background-size: 15.625rem;
    padding: 1.7rem;

    background-position: bottom center;
}


@media (width > 58.875em) {

    .highlights-decoration-top {
        background-size: 22rem;
        padding: 2.4rem;
    }

    .highlights-decoration-bottom {
        background-size: 22rem;
        padding: 2.4rem;
    }

    .grid-container {
        grid-template-columns: 1fr 2fr;
        align-items: normal;
    }

    .img-wrapper {
        border-right: 1.5px solid var(--bg-primary);
        border-bottom: none;
    }
}