.grid-container {
    background-color: var(--bg-secondary);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    overflow: hidden;
}

/* images container */

.grid-container > .img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12em 0;
    border-bottom: 1.5px solid var(--bg-primary);
    position: relative;
    /* border: 1px solid red; */
}

.slide-list {
    list-style: none;
    height: 100%;
    width: 100%;
}

.slides {
    padding: 1rem 1rem;
    position: absolute;
    inset: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    transition: opacity .3s ease-in-out;
}

.slides[data-active] {
    opacity: 1;
}

.slides > img {
    /* border: 1px solid red; */
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* text container */

.text-container {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    & h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
    
    & p {
        font: var(--text-md-darker);
    }
}

.text-border {
    border: 2px solid var(--bg-primary);
    padding: 2em;
}

/* container decoration */

.highlights-decoration-top {
    background-image: url(../assets/page-decoration/destaques-up.png);
    background-repeat: no-repeat;
    background-size: 20rem;
    padding: 2.2rem;

    background-position: top center;
}

.highlights-decoration-bottom {
    background-image: url(../assets/page-decoration/destaques-down.png);
    background-repeat: no-repeat;
    background-size: 20rem;
    padding: 2.2rem;

    background-position: bottom center;
}

/* arrow buttons */

#arrow-right,
#arrow-left {
    border: none;
    background: none;
    position: absolute;
    cursor: pointer;

    padding-top: .15rem;
    outline: 2px solid transparent;

    & svg path {
        stroke: var(--text-transparent);
        transition: stroke .3s ease;
    }
}

#arrow-right {
    right: 3rem;
}

#arrow-left {
    left: 3rem;
}

#arrow-left:is(:hover, :focus-visible) > svg path,
#arrow-right:is(:hover, :focus-visible) > svg path {
    stroke: var(--text-primary);
}

#arrow-left:focus-visible, 
#arrow-right:focus-visible {
    outline: 2px solid currentColor;
}


@media (width > 52em) {
    .grid-container {
        grid-template-columns: 2fr 3fr;
        align-items: normal;
    }

    .grid-container > .img-wrapper {
        border-right: 1.5px solid var(--bg-primary);
        border-bottom: none;
        padding: 2em;
    }

    .slides {
        padding: 1.5rem 1rem;

    }

    .text-container {
        padding: 2.5em;
    }

    .highlights-decoration-top {
        background-size: 25rem;
        padding: 2.8rem;
    }

    .highlights-decoration-bottom {
        background-size: 25rem;
        padding: 2.8rem;
    }
}