#highlights-2 {
    margin: 6rem 0;

    & .box-container {
        width: 100%;
        background-color: var(--bg-terciary);
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */

        & #decoration-top {
            width: 20em;
            position: absolute;
            top: -80px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

        & #decoration-bottom {
            width: 20em;
            position: absolute;
            bottom: -80px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
        
        & .content-container {
            /* padding: 1em; */
            width: 100%;
        }
    }   
}

/* images container */

.img-wrapper {
    width: 100%;
    position: relative;
    border: 2px solid var(--bg-primary);

}

.slide-list {
        width: 100%;
        height: 100%;
        list-style: none;

    }
    
    .slides {
        /* position: absolute; */
        display: none;
        width: 100%;
        object-fit: contain;
    }
    
    & li .slide-content-wrapper {
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        & img {
            width: 100%;
            object-fit: contain;
        }
}

.slides[data-active] {
    display: block;
}

/* container de texto */

.slide-text-container {
    color: var(--red-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5em;
    min-height: 550px;
    /* border: 2px solid white; */
}

/* arrow buttons */

#arrow-right,
#arrow-left {
    border: none;
    background: none;
    /* margin-top: 40em; */
    cursor: pointer;
    
    outline: 2px solid transparent;

    & svg path {
        stroke: var(--text-transparent);
        transition: stroke .3s ease;
    }
}

.btn-wrapper {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 3rem;
    bottom: -.5rem;
    transform: translateY(-50%);
    z-index: 10;
}

#arrow-right {
    margin-right: 2rem;
}

#arrow-left {
    margin-left: 2rem;
}

#arrow-left:is(:hover, :focus-visible) > svg path,
#arrow-right:is(:hover, :focus-visible) > svg path {
    stroke: var(--text-primary);
}

#arrow-left:focus-visible, 
#arrow-right:focus-visible {
    outline: 2px solid currentColor;
}


 @media (width > 39em) {
    #highlights-2 {
        padding: 0 1.5rem;
    }

    .slide-text-container {
        min-height: 460px;
        padding: 1.5rem;
    }

    li .slide-content-wrapper {        
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        gap: 1rem;
    }

    .btn-wrapper {
        width: 100%;
        justify-content: space-between;
        bottom: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    #arrow-right {
        margin-right: .5rem;
    }

    #arrow-left {
        margin-left: .5rem;
    }
        
}

@media (width > 60em) {
    #highlights-2 {
        padding: 0 2rem;

        & .box-container {
            & #decoration-top {
                width: 25em;
                top: -90px;

            }

            & #decoration-bottom {
                width: 25em;
                bottom: -90px;
            }
        }
    
        & .content-container {
            padding: 3em;
        }

        & .slide-text-container {
            min-height: 400px;

            & h2 {
                font: var(--text-h2-desk);
            }
        }
    }
}