#highlights {
    margin-top: 6em;
    display: block;
    position: relative;
    z-index: -1;
}

#highlights::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../assets/page-decoration/destaques-down.png);
    background-repeat: no-repeat;
    background-size: 15.625rem;
    position: absolute;

    background-position: top -3.125rem center;
    z-index: -1;
}

#highlights::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../assets/page-decoration/destaques-up.png);
    background-repeat: no-repeat;
    background-size: 15.625rem;
    position: absolute;
    top: -3.31rem;
    left: 0;

    background-position: top center;
    z-index: -1;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

.img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: var(--bg-secondary);
    border-bottom: 1.5px solid var(--bg-primary);

     & img { 
        width: 25em;
        height: 20em;
        
    }
}


.text-container {
    padding: 3em;
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;

    & h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
    
    & p {
        font: var(--text-md-darker);
    }
}

.text-border {
    border: 2px solid var(--bg-primary);
    padding: 2em;
}


@media (width > 58.875em) {
    #highlights {
        margin-top: 8em;
    }

    #highlights::after {
        background-size: 22rem;
        background-position: top -70px center;
    
    }

    #highlights::before {
        background-size: 22rem;
        top: -4.7rem;

    }

    .grid-container {
        grid-template-columns: 1fr 2fr;

    }

    .img-wrapper {
        border-right: 1.5px solid var(--bg-primary);
        border-bottom: none;
    }
}