#highlights-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box-container {
    background-color: var(--red-color);
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;

    & .img-border {
        padding: 1.5rem;
        width: 100%;
        position: relative;
        
        & .slide-list {
            margin: 0 auto;
        }
        
        & li img {
            border: 2px solid var(--bg-secondary);
            width: 100%;
        }
    }
    
    & .text-container {
        width: 100%;
        border-bottom: 1px solid var(--bg-secondary);

        & .text-border {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: .5rem;
            padding: 3rem 1.5rem;
        }

        & h2, span, p {
            color: var(--bg-secondary);
            text-align: start;
        }

        & h2 {
            margin-bottom: 0;
        }

        & p {
            margin-top: 1rem;
        }
    }
}

#decoration-up {
    width: 18em;
    z-index: -1;
    position: relative;
    top: 1.5rem;
}

#decoration-down1 {
    position: relative;
    bottom: 1.5rem;
    width: 18em;
    z-index: -1;
}


@media (width > 49em) {
    .box-container {
        grid-template-columns: 1fr 1fr;
    
        & .img-border {
            padding: 2rem;
            padding-right: 1rem;

            & .slide-list {
                padding-right: 1rem;
            }
        }
        
        & .text-container {
            border-bottom: none;
            padding: 0;

            & .text-border {
                margin: 2rem;
                margin-right: 0;
            }
        }
    }
}

@media (width > 72em) {
    #highlights-1 {
        padding: 0 3rem;
    }

    .box-container {
        grid-template-columns: 4fr 2fr;
        
        & .img-border {
            flex: 0;
            width: 100%;
            padding: 3rem 2rem 2.8rem 0;
            
            & .slide-list {
                width: 500px;
            }
        }

        & .text-container > .text-border {
            min-height: 30rem;
            margin: 3rem;
            padding: 3rem;
        }
    }

    #decoration-up {
        width: 25em;
    }

    #decoration-down1 {
        width: 25em;
    }
}