.insta-container {
    width: 80%;
    margin: 0 auto 3em;
    padding: 2rem 3rem;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    align-items: center;
    justify-content: center;

    & h1 {
        text-align: center;
        margin-bottom: 1.5rem;
    }
}

.action-call {
    margin-top: 1em;
    align-self: flex-start;
    display: flex;
    gap: 1rem;

    & span {
        font: var(--text-sm);
    }
}

@media (width > 52em) {
    .insta-container {
        width: 70%;
    }
}