nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1.5em;
    position: fixed;
    background-color: var(--bg-primary);
    width: 100%;
    top: 0;
}

#logo {
    transition: opacity .3s;
    margin: 0 auto;
    
    & img {
        width: 8rem;
    }
}

#logo:has(~ .menu .input-wrapper:is(:hover, :focus-within) #search) {
    opacity: 0;
}

ul {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-primary);
    width: min(18em, 100%);
    min-height: 100vh;
    padding: 1rem 2rem;

    position: fixed;
    left: -100%;
    top: 4.75rem;
    z-index: 9;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    transition: left .5s ease-out;
}

ul::before {
    content: "";
    width: 300%;
    height: 1px;
    background-color: var(--text-primary);

    position: absolute;
    top: 0;
    left: 2em;
    opacity: 0;

    transition: opacity .2s;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    
    & a {
        color: var(--text-primary);
        font: var(--text-md-lg);
        position: relative;
    }

    & a:focus {
        outline: 1.5px solid var(--link-hover);
    }

    & a:hover::after {
        transform: scaleX(1);
        opacity: 1;
    }

    & a::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--link-hover);

        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        opacity: 0;

        transition: .5s;
    }
}


li:not(:last-child)::after {
    content: "";
    width: 100%;
    height: .5px;
    background-color: var(--text-primary);

    position: absolute;
    bottom: -1.25rem;
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.4142);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    height: var(--hamburger-height);
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    z-index: 10;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu span {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--red-color);
    border-radius: 1rem;
    transform-origin: left center;

    transition: opacity var(--animation-timing), 
                width var(--animation-timing),
                rotate var(--animation-timing),
                translate var(--animation-timing),
                background-color var(--animation-timing);
}

#sidebar-active {
    appearance: none;
    outline: none;
    pointer-events: none;
}

#sidebar-active:checked + .hamburger-menu::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

#sidebar-active:checked + .hamburger-menu::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

#sidebar-active:checked + .hamburger-menu::after,
#sidebar-active:checked + .hamburger-menu::before {
    background-color: var(--red-color);
    
}

#sidebar-active:checked + .hamburger-menu span {
    opacity: 0;
    width: 0;
}

#sidebar-active:checked ~ .menu ul {
    left: 0;
}

#sidebar-active:checked ~ .menu ul::before {
    opacity: 1;
}

#overlay {
    transition: background-color var(--animation-timing);
}

#sidebar-active:checked ~ #overlay {
    background-color: rgba(66, 64, 64, 0.322);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 4.8em;
    left: 0;
    z-index: 2;
}

#search {
    border: none;
    outline: none;
    font: var(--text-sm);
    color: black;
}


.input-wrapper {
    position: relative;
    background-color: var(--bg-primary);
    border: 1px solid rgba(128, 128, 128, 0.411);
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    padding: .5rem .75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;

    transition: scale .3s ease;
}

 #search {
    width: 0;
    transition: width .4s ease-in-out;
}

.input-wrapper:is(:hover, :focus-within) #search {
    width: 13rem;
}

@media (width > 56em) {
    nav {
        padding: 1em 3em;
    }

    #logo {
        margin: 0;
    }

    #logo:has(~ .menu .input-wrapper:is(:hover, :focus-within) #search) {
        opacity: 1;
    }

    ul {
        all: unset;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        gap: 1rem;
    }

    li {

        & a {
            color: var(--text-primary);
        }

        & a + svg {
            display: none;
        }
    }

    li:not(:last-child)::after {
        background-color: transparent;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .hamburger-menu, #sidebar-active {
        display: none;
    }

    .input-wrapper {
        margin-bottom: 0;
    }

    .input-wrapper:is(:hover, :focus-within) #search {
        width: 13rem;
    }
}