nav {
    padding: 1em;
}

ul {
    display: flex;
    justify-content: center;
    background-color: var(--red-color);
    width: min(18em, 100%);
    min-height: 100vh;

    position: fixed;
    right: -100%;
    top: 0;
    z-index: 9;

    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 3rem);
    transition: right .5s ease-out;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5rem;
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.4142);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    height: var(--hamburger-height);
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    z-index: 10;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu span {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: #333;
    border-radius: 1rem;
    transform-origin: left center;

    transition: opacity var(--animation-timing), 
                width var(--animation-timing),
                rotate var(--animation-timing),
                translate var(--animation-timing),
                background-color var(--animation-timing);
               
}

#sidebar-active {
    appearance: none;
    outline: none;
    pointer-events: none;
}

#sidebar-active:checked + .hamburger-menu::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

#sidebar-active:checked + .hamburger-menu::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

#sidebar-active:checked + .hamburger-menu::after,
#sidebar-active:checked + .hamburger-menu::before {
    background-color: rgb(252, 240, 240);
}

#sidebar-active:checked + .hamburger-menu span {
    opacity: 0;
    width: 0;
}

#sidebar-active:checked ~ ul {
    right: 0;
}

#overlay {
    transition: background-color var(--animation-timing);
}

#sidebar-active:checked ~ #overlay {
    background-color: rgba(66, 64, 64, 0.322);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#logo {
    transition: opacity var(--animation-timing);
}

#logo:has(+ #sidebar-active:checked) {
    opacity: 0;
}

li {
    list-style: none;
}

li a {
    color: rgb(252, 240, 240);
}

#logo img{
    width: 8rem;
}

#search {
    border: none;
    outline: none;
}

#search-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.input-wrapper {
    background-color: white;
    display: flex;
    align-items: center;
    border: .01rem solid black;
    border-radius: 1.5rem;
    padding: .5rem .75rem;
    margin-bottom: .75rem;
}

@media (width > 56em) {
    nav {
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0;
    }

    ul {
        all: unset; 
    }

    li a {
        color: black;
    }
    .menu {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .hamburger-menu, #sidebar-active {
        display: none;
    }

    .input-wrapper {
        margin-bottom: 0;
    }
}