nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2em;
    padding: 0 2.5rem;
    gap: 1.5rem;

    & img {
        width: 10rem;
    }
}

#search {
    border: none;
    outline: none;
}

#search-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.input-wrapper {
    display: flex;
    align-items: flex;
    border: .01rem solid black;
    border-radius: 1.5rem;
    padding: .5rem .75rem;
    margin-bottom: .75rem;
}

@media (width > 52em) {
    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
    .menu {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .input-wrapper {
        margin-bottom: 0;
    }
}