.product-images {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 .5em;
    margin-bottom: 4em;

    & h1 {
        padding: 0 1.5rem;
    }

    & p {
        text-align: center;
    }
}

/* title decoration image */
.title-decoration {
    width: 16.5rem;
}

.grid {
    margin-top: 2.5em;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    & img {
        width: 100%;
        margin: 0 auto;
    }

    & .img-container p {
        margin-top: 1rem;
    }

    & .img-container:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

@media (width > 41em) {
    .product-images {
        padding: 0 1.5em;
    }

    .grid {
        gap: 1.5rem;
    }
}

@media (width > 52em) {
    .title-decoration {
        width: 25rem;
    }

    & .img-container:not(:last-child) {
        margin-bottom: 0;
    }
}