.banner-carousel-mobile {
    display: none;
}

.banner-carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 4rem;
    margin-bottom: 3rem;

    & .slides {
        display: flex;
        height: max-content;
        transition: transform ease 1s;
    }
    
    & .slides img {
        width: 100%;
    }
    
    & button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 35px;
        border: none;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.705);
        transition: ease .3s;
    }
    
    & button:hover {
        background-color: rgba(255, 255, 255, 0.945);
    }
    
    & .left-arrow {
        left: 10rem;
    }
    
    & .right-arrow {
        right: 10rem;
    }
}

@media (width < 52em) {
    .banner-carousel-mobile {
        display: block;
        overflow: hidden;
        margin-bottom: 3rem;

        & .slides-mobile {
            display: flex;
            transition: transform ease 1s;
        }

        & .slides-mobile img {
            width: 100%;
        }

        & .carousel-btn-wrapper {
            width: 100%;
            margin-top: 1.5rem;
            display: flex;
            justify-content: center;
            gap: 2rem;
        }

        & button {
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 50%;
            background-color: rgba(7, 7, 7, 0.685);
            color: white;
            transition: ease .3s;

        }
        
        & button:hover {
            background-color: rgba(7, 7, 7, 0.87);
        }
        
        & .left-arrow {
            left: 0;
        }
        
        & .right-arrow {
            right: 0;
        }

    }    


    .banner-carousel {
        display: none;
    }
}

@media (52em < width < 1040px) {
    .banner-carousel {

        & .slides {
            height: auto;
        }

        & .slides img {
            height: auto;
            object-fit: unset;
        }
    }
    
}