/* highlights 1 */

#toggle-btn {
    appearance: none;
    position: absolute;
}

#toggle-btn + label {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: .75em;
    z-index: 1;
}

#toggle-btn:focus-visible + label::before {
    outline: 3px solid var(--yellow-color);
}

#toggle-btn + label::before {
    content: "OFF";
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding-right: .5rem;
    color: var(--red-color);
    font-size: .875rem;
    font-family: var(--ff);
    font-style: italic;
    width: 4em;
    height: 2em;
    background-color: var(--bg-secondary);
    border-radius: 1.5em;
    border: 1px solid transparent;
}

#toggle-btn + label::after {
    position: absolute;
    content: "";
    width: 1.75em;
    height: 1.75em;
    left: 0;
    background-color: var(--bg-secondary);
    border-radius: 50%;
    border: 1px solid var(--red-color);
    transition: left .3s ease;
}

#toggle-btn:checked + label::before {
    background-color: var(--red-color);
    color: var(--bg-secondary);
    content: "ON";
    justify-content: flex-start;
    padding-left: .65rem;
    width: 3em;
}

#toggle-btn:checked + label::after {
    left: 60%;
}

.slide-list li.switch:nth-child(2) {
    display: none;
}

#toggle-btn:checked ~ .slide-list li.switch:nth-child(1) {
    display: none;
}

#toggle-btn:checked ~ .slide-list li.switch:nth-child(2) {
    display: block;
}

/* @media (width > 72em) {
    #toggle-btn + label {
        bottom: 11%;
        left: 45%;
    }
} */